<form method="post" action="/name" class="form-inline justify-content-center">
    <input type="text" class="form-control" name="player" placeholder="Enter your name">
    <input type="submit" value="Submit" class="btn btn-primary">
</form>