<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<div class="container">
    <h1>Rock, Paper, Scissors</h1>
    <form method="post" action="/name">
    <label for="player_1" class="form-check-label">Please enter your name</label>
    <input type="text" name="player">
    <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>