<form method="post" action="/choice">
    <h1><%= @player.name %> vs. Computer<h1>
    <div class="row">
        <div class="col-md-3">
            <div class="form-check">
            <input class="form-check-input" type="image" name="option" value="paper" src="https://www.campcanary.co.uk/uploads/paper-icon-grey.png">
            <label class="form-check-label" for="rock"></label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="image" name="option" value="rock" src="https://www.campcanary.co.uk/uploads/rock-icon-grey.png">
                <label class="form-check-label" for="paper"></label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="image" name="option" value="scissors" src="https://www.campcanary.co.uk/uploads/scissors-icon-grey.png">
            </div>
        </div>
    </div>
</form>